<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
        <style>
            div.centerTable{
                text-align: center;
                margin: 0 auto;
                text-align: left;
                margin-left: 204px;

            }
        </style>
    </head>
    <body>
        <h1>Detalle</h1>
        <div class="centerTable">
            <div >
                <lavel> NOMBRE : </lavel>{{ data.name}}
            </div>
            <div >
                <lavel> EMAIL : </lavel> {{ data.email}}</div>
            <div > 
                <lavel> PHONE : </lavel> {{ data.phone}}</div>
            <div >
                <lavel> ADDRESS : </lavel>{{ data.address}}</div>
            <div > 
                <lavel> POSITION : </lavel>{{ data.position}}</div>
            <div >
                <lavel> SALARY : </lavel>{{ data.salary}}</div>
            <div  >
                <lavel> SKILLS : </lavel>
                <ul>
                    {% for key, user in skills %}
                        <li>{{ user.skill}}</li>
                        {% endfor %}
                </ul>
            </div>
        </div>

        <div><a href="/listado">VOLVER</a></div>

    </body>
</html>

