<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <link href='{{ base_url() }}/css/style.css' rel='stylesheet' type='text/css'>
        <style>
            div.centerTable{
                text-align: center;
            }
            div.centerTable table {
                border-collapse: separate;
                margin: 0 auto;
                text-align: left;
            }
            .cabecera{
                font-weight:bold;

            }
        </style>
    </head>
    <body>
        <h1>LISTADO</h1>
        <div>
            <form action="" method="post">
                <div> 
                    <lavel> email : </lavel>
                    <input name="email" type="text"/>
                    <button type="submit"> buscar</button>
                    <a href="/listado" > listado</a>
                </div>
            </form>
        </div>
        <div class="centerTable">
            <table border="1" >
                <tbody>
                    <tr class="cabecera">
                        <td><span>NAME</span></td>
                        <td>EMAIL</td>
                        <td>POSITION</td>
                        <td>SALARY</td>
                        <td>ACCION</td>
                    </tr>
                    {% for key, user in data %}
                        <tr>
                            <td> {{ user.name}}</td>
                            <td> {{ user.email}}</td>
                            <td> {{ user.position}}</td>
                            <td> {{ user.salary}}</td>
                            <td><a href="/detalle/id/{{ user.id}}">Ver</a></td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </body>
</html>

